<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoCafeBreveEspacio.Properties.Settings.BreveEspacioCafeConnectionString"
            connectionString="Data Source=DESKTOP-09QHF77;Initial Catalog=BreveEspacioCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>